@use "../metrics.scss";

.slippage_expand {
  cursor: pointer;
}

.slippage_option {
  input {
    display: none;
  }
  text-decoration: underline;
  cursor: pointer;
  padding: metrics.$padding;
  margin-right: metrics.$padding;
  margin-top: 0;
  margin-bottom: metrics.$padding;
  display: inline-block;
  user-select: none;
  &.checked {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
}
