@use "../metrics.scss";
@use "../colors.scss";

.usdc_input {
  padding: metrics.$padding;
  border-radius: metrics.$padding;
  border: none;
  text-align: end;
  background-color: colors.$whiteish;
  &.invalid {
    border: 2px solid red;
  }
}
