@use "./colors.scss";
@use "./metrics.scss";

body {
  min-height: 100vh;
}

body {
  background: rgb(55, 108, 91);
  background: radial-gradient(
    circle,
    lighten(colors.$background, 20%) 0%,
    colors.$background 100%
  );
  color: colors.$whiteish;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.button {
  margin-top: metrics.$padding-large;
  color: colors.$whiteish;
  background-color: colors.$alt;
  border: metrics.$border-width solid colors.$border-color;
  padding: metrics.$padding;
  border-radius: metrics.$padding;
  cursor: pointer;
  user-select: none;
  &:active {
    background: colors.$border-color;
  }
  &:hover {
    background-color: colors.$alt-light;
  }
}
